*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(https://a.d-cd.net/758dbbes-1920.jpg);
    zoom: 110%;
}

#get{
    border-radius: 0px 0px 0px 0px;
    background-color: white;

    
    width: 220px;
    height: 35px;
    font-size: 20px;
    padding: 0.25rem 0.5rem;
    font-size: 0.919rem;
    border-radius: 0.2rem;
    pointer-events: none;
    filter: none;
    opacity: 0.65;
    color: #6c757d;
    border-color: #6c757d;
    
    font-weight:bold;
}
.but{
    border-radius: 10px;
    height: 90px;
    width: 120px;
    background-color: white;
    
    padding: 0.25rem 0.5rem;
    font-size: 0.919rem;
    border-radius: 0.2rem;
    pointer-events: none;
    filter: none;
    opacity: 0.65;
    color: #6c757d;
    border-color: #6c757d;
    width: 100px;
    font-weight:bold;
}
.but_ex1_2{
    border-radius: 0px 10px 10px 0px;
    height: 35px;
    width: 180px;
    padding: 0.25rem 0.5rem;
    font-size: 0.919rem;
    border-radius: 0.2rem;
    pointer-events: none;
    filter: none;
    opacity: 0.65;
    color: #6c757d;
    border-color: #6c757d;
   
    font-weight:bold;
}
.but_ex1{
    font-size: 18px;
    border-radius: 10px;
    height: 35px;
    width: 230px;
    padding: 0.25rem 0.5rem;
    font-size: 0.919rem;
    border-radius: 0.2rem;
    pointer-events: none;
    filter: none;
    opacity: 0.65;
    color: #6c757d;
    border-color: #6c757d;
   
    font-weight:bold;
}
.but_ex1_1{
    font-size: 18px;
    border-radius: 10px;
    height: 35px;
    width: 110px;
    padding: 0.25rem 0.5rem;
    font-size: 0.919rem;
    border-radius: 0.2rem;
    pointer-events: none;
    filter: none;
    opacity: 0.65;
    color: #6c757d;
    border-color: #6c757d;
    
    font-weight:bold;
}
.theory{
    
    text-align: center;
    color: black;
    
    border-radius: 10px;
    background-color: white;
    padding: 0.25rem 0.5rem;
    font-size: 0.919rem;
    border-radius: 0.2rem;
    pointer-events: none;
    filter: none;
    opacity: 0.65;
    color: #6c757d;
    border-color: #6c757d;
    
    font-weight:bold;
    width: 56%;
    height: 200px;
    margin-top: 30px;
    margin-left: 22%;
    margin-right: 22%;
    margin-bottom: 80px;

}
.input{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 35px;
}


#mes{
    width: 20%;
    background-color: white;
    
    
    border-radius: 10px;
    color:orange;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    
    text-align: center;
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-bottom: 10px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 18px;
}
#otvet{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 90px;
}
.if{
    margin-top: 10px;
    font-size: 20px;
}
#second{
    justify-self: center;
    margin-left: 31%;
}
